/* Coolors Exported Palette - coolors.co/333333-bababa-9b9b9b-427288-bba586 */
@import "C:/Users/wboxx/Documents/Projects/Javascript/Desktop/puma-react/node_modules/@material/button/mdc-button.scss";

/* HSL */
$color1: hsla(0%, 0%, 20%, 1);
$color2: hsla(0%, 0%, 73%, 1);
$color3: hsla(0%, 0%, 61%, 1);
$color4: hsla(199%, 35%, 40%, 1);
$color5: hsla(35%, 28%, 63%, 1);

/* RGB */
$color1: rgba(51, 51, 51, 1);
$color2: rgba(186, 186, 186, 1);
$color3: rgba(155, 155, 155, 1);
$color4: rgba(66, 114, 136, 1);
$color5: rgba(187, 165, 134, 1);

.foo-button
{
    @include mdc-button-ink-color(teal);
    @include mdc-states(teal);
}